# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# unpacked Minimig_ECS_Diamond_Project.zip
Minimig_ECS/*
jbboot.vhd
osd_bootstrap.vhd

# ISE output
usage_statistics_webtalk.html
proj/xilinx/nexys4ddr-ise/amiga/webtalk.log
proj/xilinx/nexys4ddr-ise/amiga/webtalk_impact.xml
proj/xilinx/nexys4ddr-ise/amiga/webtalk_pn.xml
proj/xilinx/nexys4ddr-ise/amiga/iseconfig
proj/xilinx/nexys4ddr-ise/amiga/_xmsgs
proj/xilinx/nexys4ddr-ise/amiga/*.gise
proj/xilinx/nexys4ddr-ise/amiga/*.html
proj/xilinx/nexys4ddr-ise/amiga/work
proj/xilinx/nexys4ddr-ise/amiga/amiga_xdb
impact.xsl
impact_impact.xwbt
amiga.ipf

